

@import "../_global/scss/vendor/bootstrap-mixins.scss";
@import '../_global/scss/variables.scss';

.juicer-container {
  padding-left: 110px;

  @include media-breakpoint-down(md) {
    padding-left: 50px;
  }

  ul {
    max-width: 1250px;
    display: block;
    margin: 0 0 0 auto !important;

    &.juicer-feed .feed-item {
      width:240px !important;
    }

    .j-text {
      display:grid;
      grid-template-rows: 0fr 4fr 1fr;
      color: #fafafa;
      background-color:rgba(58, 58, 58, 0.9) !important;

      .j-meta {
        margin-left: 0;
        margin-right: 0;
      }

      .j-message p {
        color: #fafafa !important;
      }
    }

    .slick-arrow {
      display: none !important;
    }
  }
}

.social-slider {
  margin-bottom: 130px;
}